.App {
  text-align: center;
}
.header{
  width: 100%;
  height: 25vh;
  min-height: 300px;
  background: url("./imgs/backgroud.jpg") center no-repeat;
  font-size: 20px;
  background-size: 100%;
}
.header a{
  color: white;
}
.description{
  position:relative;
  top:40%;
  transform:translateY(-40%);
}

.description h1{
  font-size: 70px;
  color: white;
}
.description p{
  font-size: 30px;
  color: white;
}
.list-group-item{
  text-align: left;
}
.list-group{
  margin-left: 10%;
}
.passage{
  margin-left: 10%;
}
.passage h1{
  font-size: 50px;
  text-align: left;
}
.passage p {
  text-align: left;
  font-size: 20px;
}